
h2 {
    text-shadow: 0 0 10px rgb(110, 74, 74);
}

.listasi-text {
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.listani-lista {
    margin: 0;
}

.lista {
    padding-block: 18px;
    margin-block: 8px;
    overflow: auto;
    font-size: 22px;
    background-color: rgb(161, 62, 62);
    color:rgb(248, 226, 226);
    border-bottom: solid 5px rgb(99, 31, 31);
}
.lista:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.lista:nth-last-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lista:active, .lista.active {
    background-color: rgb(88, 38, 38);
    border-bottom: solid 5px rgb(46, 14, 14);
}

.liitylistaan-text {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="text"].liitylistaan_input {
    font-size: 22px;
}

.liityButton {
    font-size: 22px;
    margin-bottom: 0;
}


.error-msg {
    color: rgb(209, 13, 13);
    font-size: 20px;
}

.luo-text {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.eka {
    margin-top: 30px;
}

hr.toka {
    margin-top: 0;
    margin-bottom: 15px;
}
