
label {
    font-size: 25px;
    margin-bottom: 6px;
    text-shadow: 0 0 10px rgb(146, 107, 107);
}

.createButton {
    margin-top: 10px;
}

.selitys {
    margin-top: 6px;
    font-size: 18px;
    color: rgb(197, 75, 75);
}

button {
    font-size: 25px;
}

footer {
    margin-bottom: 40px;
}