
/* COLOR PICKER CONTAINER ============================================================================================= */

.color-picker {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-bottom: 4px;
}

.color-picker .rd div {
    margin-inline: 4px;
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
}

/* COLORS ------------------------------------------------------------------------------------------- */

/* Red */
input[type="text"].red {
    background-color: rgb(255, 194, 194);
    color: rgb(92, 24, 24);
}
input[type="text"]:focus.red {
    outline: none;
    border: 3px solid rgb(122, 31, 31);
}

/* Orange */
input[type="text"].orange {
    background-color: rgb(255, 208, 146);
    color: rgb(112, 75, 18);
}
input[type="text"]:focus.orange {
    outline: none;
    border: 3px solid rgb(122, 74, 0);
}

/* Yellow */
input[type="text"].yellow {
    background-color: rgb(255, 253, 163);
    color: rgb(112, 95, 0);
}
input[type="text"]:focus.yellow {
    outline: none;
    border: 3px solid rgb(92, 82, 24);
}

/* Green */
input[type="text"].green {
    background-color: rgb(206, 255, 194);
    color: rgb(26, 92, 24);
}
input[type="text"]:focus.green {
    outline: none;
    border: 3px solid rgb(26, 92, 24);
}

/* Blue */
input[type="text"].blue {
    background-color: rgb(215, 242, 250);
    color: rgb(43, 54, 117);
}
input[type="text"]:focus.blue {
    outline: none;
    border: 3px solid rgb(27, 40, 110);
}


/* RADIO ============================================================================================= */

.rd {
    margin: 0;
}

.rd input[type="radio"] {
    appearance: none;
}

.rd div {
    margin-block: 0;
    margin-inline: 3px;
    height: 40px;
    width: 40px;
    border: 3px solid transparent;
    border-radius: 100000px;
    transition: all 0.6s ease;
}

/* COLORS ------------------------------------------------------------------------------------------------------------------------------------- */

/* Red */
.rd div.red {
    background-color: rgb(190, 98, 98);
}
.rd input[type="radio"]:checked + div.red {
    background-color: rgb(105, 42, 42);
    border-color: rgb(190, 98, 98);
}

/* Orange */
.rd div.orange {
    background-color: rgb(216, 164, 115);
}
.rd input[type="radio"]:checked + div.orange {
    background-color: rgb(107, 68, 30);
    border-color: rgb(160, 92, 53);
}

/* Yellow */
.rd div.yellow {
    background-color: rgb(206, 207, 109);
}
.rd input[type="radio"]:checked + div.yellow {
    background-color: rgb(117, 105, 50);
    border-color: rgb(158, 160, 53);
}

/* Green */
.rd div.green {
    background-color: rgb(132, 185, 139);
}
.rd input[type="radio"]:checked + div.green {
    background-color: rgb(46, 107, 40);
    border-color: rgb(62, 160, 53);
}

/* Blue */
.rd div.blue {
    background-color: rgb(132, 170, 187);
}
.rd input[type="radio"]:checked + div.blue {
    background-color: rgb(23, 88, 114);
    border-color: rgb(53, 130, 160);
}

